html {
  font-size: 16px;

  @include tablets() {
    font-size: 14px;
  }
  @include phones() {
      font-size: 13px;
  }
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Din Pro', sans-serif;
  line-height: 1.42;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
  list-style: none;
  }
}

b {
  font-family: 'Din Pro'
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Din Pro';
  margin: 0;
  color: #222;
}

h1 {
  font-size: 48px;

  @include tablets () {
    font-size: 36px;
  }
}

h2 {
  font-size: 40px;

  @include tablets () {
    font-size: 30px;
  }
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

span {
  color: #F47821;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 0;
  font-family: "Gilroy";
  font-weight: 900;
}

svg path {
  fill:inherit; 
  stroke:inherit; 
}

input {
  background: transparent;
  resize: none;
  border: none;
  font-size: 24px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  &::placeholder {
    color: #fff;
  }
}

textarea {
  background: transparent;
  overflow: hidden;
  resize: none;
  outline: none;
  border: none;
  font-size: 24px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  &::placeholder {
    color: #fff;
  }
}

.wrapper {
  width: 100%;
  // height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #e5e5e5;
}

.maincontent {
  width: 1440px;
  min-height: 4046px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
