@font-face {
  font-family: 'Din Pro';
  src: url('./fonts/DINPro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url('./fonts/gilroy-extrabold-webfont.woff') format('woff');
}

