.form {
  background-color: #161616;
  min-height: 1130px;
  width: 100%;
  color: #fff; }

.form-error {
  position: absolute;
  top: 100%;
  left: 10%;
  background-color: #cd1515;
  z-index: 100;
  color: #fff;
  padding: 10px 10px;
  border-radius: 10px; }
  .form-error:empty {
    display: none; }
  .form-error::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid #cd1515; }

.form-input {
  border-bottom: 2px solid;
  border-opacity: #f7f8fa, 100;
  opacity: 0.3; }
