.hero {
  width: 100%;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  font-family: 'Roboto', sans-serif;
  color: #4a4556;
  margin-top: 24px;
}

.hero-resume {
  margin-top: 48px;
  width: 236px;
  height: 54px;
  position: relative;
  display: flex;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(135, 135, 135, 0.05);
    display: block;
    border-radius: 111px;
}
}