.advantages-title {
  font-size: 40px;
}

.message-title {
  text-align: left;
  margin-bottom: 24px;
}

.qualities-list__title {
  font-size: 12px;
  color: #f47821;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-weight: bold;
}